.sideback{
    width: 120px;
    height: 100%;
    backdrop-filter: blur(1px);
    background: rgba(10, 10,10, .65);
    box-shadow: 0 8px 32px rgb(2 4 24);
    border-right: 2px solid rgba (255, 255, 255, .09);

    margin-left: 60px;
    
    
}

.layout {
    width: 1920px;
    height: 1080px;
  
    display: grid;
    grid:
      "nav-logo" 35%
      "nav-link" 35%
      "nav-stack" 30%
      / 120px;
    gap: 1px 8px;
  }
  
.nav-logo { 
    grid-area: nav-logo; 
  

}

.nav-logo img{
    width: 70px;
    height: 70px;

    border-radius: 35px;
    opacity: 0;
}

.nav-logo h1{

    font-size: 30px;
    color: #fff;
    opacity: 0;
}

.nav-link {
    grid-area: nav-link;
 

}

.nav-link i{
    opacity: 0;
}


.nav-stack {
    grid-area: nav-stack;
    

}

.nav-stack img{
    height: 60px;
    border-radius: 30px;


    opacity: 0;
}